<div class="container">
<h2>website show</h2>
<h3>You are 
<%= current_user.admin ? "an admin" : "a normal user" %>
</h3>


<div class="banner" data-preview-image style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= %>);">
  <div class="container">
    <h1 data-preview-title>@website.section&.elements&.find_by(category: :h1)&.value</h1>
    <p data-preview-subtitle>@website.section&.elements&.find_by(category: :p)&.value %></p>
  </div>
</div>

</div>