body {
  background-color: white;
}

.card-form {
  border-radius: 5px;
  text-align: left;
  margin-bottom: 16px;
  position: relative;
}
.card-header {
  color: #17A2B8;
  background-color: #EFEFEF;
  
    p:after {
    content: "<";
    transform: rotate(90deg);
    position: absolute;
    font-weight: 600;
    font-size: 14px;
    top: 24px;
    right: 15px;
  }
  p.collapsed:after {
    content: ">";
    transform: rotate(90deg);
    position: absolute;
    top: 20px;
    right: 15px;
  }
}

.card-body {
  font-family: Nunito;
  font-size: 18px;
  margin-bottom: 12px;
  label {
  font-weight: bold;
  }
}

.btn-form {
  color: $primary;
  font-size: 18px;
  background-color: #F8F9FA;
  border: 1px solid $primary;
  border-radius: 4px;
  padding: 10px 20px;
}

.card-modal {
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 16px;
  border-radius: 4px;
  
  h4 {
    font-weight: bold;
    color: #17A2B8;
  }

  i {
    width: 16px;
  }
  p {
    margin-bottom: 0;
    color: rgba(0, 0, 0, 50%);
  }
}

.stickytop {
  height: 100vh;
  position: sticky;
  top: 0;
}