// Specific CSS for your home-page

section.hubbly-pink {
  background-image: url("hubbly_pink.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

section.hubbly-blue {
  background-image: url("hubbly_blue.png");
  // background-position: inherit;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 50px 0px;
}

section p {
  opacity: .8;
  font-family: Nunito;
}

.tag {
  display: inline-block;
  background-color: #17A2B8;
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  margin-top: 10px;
  margin-left: 10px;
}

a {
  color: #17A2B8;
}


