// Specific CSS for your home-page
main {
  section.hubbly-pink {
    background-image: url("hubbly_pink.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
  }

  section.hubbly-blue {
    background-image: url("hubbly_blue.png");
    background-repeat: no-repeat;
    background-size: contain;
    // padding: 50px 0px;
  }

  section p {
    opacity: .8;
    font-family: Nunito;
  }

  .tag {
    display: inline-block;
    background-color: #17A2B8;
    color: white;
    padding: 3px 10px;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 10px;
  }

  a {
    color: #17A2B8;
  }

  a:hover {
    text-decoration: none;
  }

// POPPY SCSS

  .what-is-hubbly {
    display: flex;
    padding: 5% 0 5% 0;
    align-items: center;
  }

  .wih-content {
    width: 50%;
    padding-right: 5%;
  }

  .wih-video {
    width: 50%;
  }

  @media screen and (max-width: 600px) {
    .what-is-hubbly {
      flex-direction: column;
      padding: 5%;
    }
    .wih-content {
      width: 100%;
      padding-right: 0%;
    }
    .wih-video {
      width: 100%;
    }
  }

  .why-hubbly h1, .website-templates h1, .website-templates h3, .website-templates p {
    text-align: center;
    padding: 2% 0%;
  }
}
