<div class="d-flex pt-5 <%= 'is-hidden' if @section_bio&.id.nil? %>" id="preview_bio">
  <div class="bio-left">
      <h2 data-preview-greeting><%= Section.get_content_of(section, "Bio", "greeting") %></h2>
      <p data-preview-intro><%= Section.get_content_of(section, "Bio", "intro") %></p>
  </div>
  <div class="bio-right">
      <img data-preview-picture src="<%= Section.get_content_of(section, "Bio", "Picture") %>" alt="" class="hubbly-large">
  </div>
</div>
