  <div class="container">
    <h2><%= section.elements.find_by(category: :h2).value %></h2>
      <p><%= section.elements.find_by(category: :p).value %></p>
      <img src="<%= section.elements.find_by(category: :img).value %>"></img>
  </div>



