<div class="d-flex pt-5 <%= 'is-hidden' if section&.id.nil? %>" id="preview_bio">
  <div class="bio-left">
      <h2 data-preview-greeting><%= Section.get_content_of(section, "Bio", "greeting") %></h2>
      <p data-preview-intro><%= Section.get_content_of(section, "Bio", "intro") %></p>
  </div>
  <div class="bio-right">
      <% img_url = cl_image_path(Section.get_content_of(section, "Bio", "picture")) %>
      <img data-preview-picture src= '<%= img_url %>' alt="" class="hubbly-large">
  </div>
</div>
