<div class="calendar text-center pt-5 <%= 'is-hidden' if @section_calendar.id.nil? %>" id="preview_calendar">
  <h2><%= section&.element_named("headline") %></h2>
  <p><%= section&.element_named("sub-headline") %></p>
  
  <%#= @website&.section_named("calendar")&.element_named("keypoints") %>
  <ul>
    <li>Book a time for us to talk</li>
    <li>Assess your level of English</li>
    <li>Set your learning goals</li>
  </ul>

  <a href="<%= section&.elements_named("calendly-link") %>" class="btn yellow-curved">View my calendar</a>
</div>
