<div>
  <h2> <%= section.elements.find_by(category: :h2).value %> </h2>
  
  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= section.elements.find_by(category: :video).youtube_vid_id() %>"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <ul>
    <% section.elements.where(category: :list).each do |el| %>
      <li> <%= el.value %> </li>
    <% end %>
  </ul>
</div>
######