<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= section.elements.find_by(category: :img).value %>);">
  <div class="container">
    <h1><%= section.elements.find_by(category: :h1).value %></h1>
    <p><%= section.elements.find_by(category: :p).value %></p>
  </div>
</div>