<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dw228cume/image/upload/v1616090311/WSLT/Student-pencil-laptop_1_azvxey.png);">
  <div class="container">
    <h1>Find new students & grow your business</h1>
    <h3 py-3>Websites for language teachers</h3>
    <a class="btn btn-flat" href="#">Make my website</a>
    <a class="btn btn-ghost" href="#">Tell me more</a>
  </div>
</div>

<div class="container mt-5">
  <div class="d-flex">
    <div class="text-left p-5">
      <h2>What is Hubbly?</h2>
      <p>Watch the video to see what we do and how we can help you have a professional website up and running in just 30 minutes. No fuss, no coding and as easy to put together as teaching your students their A, B, C’s!</p>
    </div>
      <img src="//via.placeholder.com/450x250">
    <div>
    </div>
  </div>

  <div class="container mt-5">  
    <h2 class="text-center">Why Websites for Languages Teachers?</h2>      
  </div>
</div>



