.kids-template {
  .banner {
    background-size: cover;
    background-position: center;
    
    h1 {
      font-family: roboto;
      font-size: 75;
    }

    h2 {
      font-family: roboto;
      font-size: 32;
    }

    p {
      font-family: caveat;
      font-size: 32;
    }
  }
}