.bio-left {
  h2{
    font-family: 'Roboto';
    font-size: 42px;
    font-weight: bold;
  }
  p{
    font-family: 'Roboto';
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
  }
}

.bio-right{
  flex-grow: 1;
}

.catchy-info-right {
  li {
    font-family: 'Caveat', cursive;
    font-size: 24px;
  }
}

.calendar {
  h2{
    font-family: 'Roboto';
    font-size: 42px;
    font-weight: bold;
  }
  p{
    font-family: 'Caveat', cursive;
    font-size: 32px;
    color: rgba(0, 0, 0, 0.6);
  }
  li {
    list-style-type: none;
    font-family: 'Roboto';
    font-size: 18px;
  }
}

.pricing-top{
  h2{
    font-family: 'Roboto';
    font-size: 42px;
    font-weight: bold;
  }
  h3{
    font-family: 'Caveat', cursive;
    font-size: 32px;
    color: rgba(0, 0, 0, 0.6);
  }
}

.pricing-bottom{
  li {
    font-family: 'Roboto';
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
    list-style: none;
  }  
}

.product-cards{
  margin: 30px auto 30px auto;
  justify-content: space-between;
  width: 80%;
}

.contact{
  background: #302326;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 160px;
  padding: 0px 50px;
  color: #E5F6FE;
  margin-top: 14vh;
  width: 100%;
    h2{
      font-family: 'Caveat', cursive;
      font-size: 32px;
      color: #FFCF57;
    }
}

.contact-right {
  display: flex;
  align-items: center;
}
.contact-right a {
  color: #FAEADD;
  opacity: 0.8;
  text-decoration: none;
  font-size: 18px;
  padding: 0px 10px;
}
.contact-right a:hover {
  color: #FFCF57;
  opacity: 1;
}

.contact-left a {
  font-size: 18px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  opacity: 0.8;
  color: #FAEADD;
  text-decoration: none;
  background-color: transparent;
  font-family: 'Roboto';
}

.contact-left a:hover {
  color: #FFCF57;
  opacity: 1;
}