.hubbly-large {
  border-radius: 51% 49% 23% 77% / 51% 39% 61% 49%;
  height: 350px;
  width: 350px;
  object-fit: cover;
  margin: 10px;
}

.hubbly-small-left {
  border-radius: 51% 49% 23% 77% / 51% 39% 61% 49%;
  height: 150px;
  width: 150px;
  background-color: #DB7558;
}

.hubbly-small-right {
  border-radius: 51% 49% 23% 77% / 51% 39% 61% 49%;
  height: 150px;
  width: 150px;
  background-color: #8FCDD4;
  margin-left: -30px;
}