.cards-scrolls {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space:nowrap;
  display: flex;
}

.card-img {
  margin-right: 35px;
  width: 70%;
  height: 500px;
  background-size: cover;

}

.card img {
  width: 80px;
  margin: 0 auto;
  opacity: 0.5;
}

.card p {
  opacity: .8;
  font-family: "Nunito", "Helvetica", "sans-serif";

}

h3 {
  opacity: .7;
  font-family: "Nunito", "Helvetica", "sans-serif";
}

.card {
  width: 300px;
  border-radius: 5px;
  // box-shadow: 0 0 5px rgb(230,230,230);
  text-align: left;
  // padding: 20px;
  border: 0px solid rgb(230,230,230);
  background-color: rgba(255, 255, 255, 0.6);
}

.cards {
  display: flex;
  // justify-content: space-between;
  margin-bottom: 30px;
}


.card-category {
  background-size: cover;
  // object-fit: cover;
  background-position: center;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  position: relative;
  // background-color: #E5F6FE;
  svg {
    display: inline-block;
    position: absolute;
    top: 0;
    margin-top: 90px;
    left: 0;
  }
}

.basic-plan .card-category {
  background-color: #E5F6FE;
}

.standard-plan .card-category {
  background-color: #E45A98;
}

.premium-plan .card-category {
  background-color: #EDDBFF;
}

.card-content {
  padding-top: 70px;
}
.basic-plan, .standard-plan, .premium-plan {
  box-shadow: 0 0 5px rgb(230,230,230);
  border: 1px solid rgb(230,230,230);
}
