.nav-menu {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 1%;
}

.nav-logo {
  font-size: 24px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

a.nav-logo {
  text-decoration: none;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .nav-links {
    flex-direction: column;
  }
}

.nav-link {

}

// $main-bg: #0e0e23;

// a.nav-link {
//   font-size: 24px;
// }

// a:hover {
//   text-decoration: none;
// }

// .logo {
//       //position: fixed;
//       float: left;
//       margin: 8px 8px;
//       //color: #fff;
//       font-size: 30px;
// }

// nav {
//       //position: fixed;
//       width: 100%;
//       z-index: 11;
//       //height: 70px;
// }

// nav ul {
//       list-style: none;
//       background: rgba(0, 0, 0, 0);
//  //     overflow: hidden;
//       // color: #fff;
//       padding: 0;
//       text-align: right;
//       margin: 0;
//       transition: 0.4s;
// }


// nav.black ul {
//   background: #000;
// }

// nav ul li {
//   display: inline-block;
//   padding: 8px 10px;
// }

// nav ul li a {
//   text-decoration: none;
//   color: inherit;
// }

// nav.dark {
//   //background: linear-gradient(to bottom left, #383838 60%, #626262d8 100%);
//   background: rgba(26, 29, 58, 1);
// }

// .navbar-brand {
//   font-size: 24px;
//   background: #17A2B8;
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
//   font-family: "Nunito", "Helvetica", "sans-serif";
// }



// .navbar-lewagon {
//   justify-content: space-between;
//   //background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

// .demo::before {
//   //padding: 0px 0px;
//   font-family: "Font Awesome 5 Free"; 
//   font-size: 17px;
//   //font-weight: 900; 
//   content: "\f06e";
// }

// .header {
//   //background-color: $main-bg;
//  //box-shadow: 10px 0px 2px $main-bg;
//  //width: 100%;
//  animation: top 1s both;
//  display: flex;
//  align-items: center;
//  justify-content: flex-end;
//  font-size: 16px;
//  white-space: nowrap;
//  position: sticky;
//  top: 0;
//  left: 0;
//  z-index: 12;
//  &-link {
//   color: inherit !important;
//   text-decoration: none !important;
//   display: flex;
//   align-items: center;
//   justify-content: flex-end;
//   padding: 20px;
//   position: relative;
//   transition: 0.3s;
//   //border-bottom: 5px solid transparent;
//   &.active,
//   &:hover:after {
//   text-decoration: none;
//   //  border-bottom: 5px solid #17A2B8;
//   // pseudo elements -after
//   background: #17A2B8;
//   content: "";
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   height: 5px;
//   }
//  }
// }

// .header-blank {
//   width: 14vw;
// }

// .dropdown-item {
//   z-index: 100;
// }

// .header-link {
//   list-style: none;
//   background: rgba(0, 0, 0, 0);
//   overflow: hidden;
//   //color: #fff;
//   text-align: right;
//   justify-content: flex-end;
//   transition: 0.4s;
// }

// .text-white{
//   color: whitesmoke !important;
// }

// .text-dark {
//   color: #1a1d3a !important;
// }