.sign-up-img {
  width: 50vw;
  height: 60vh;
  background-image: url("https://euroamerican.dk/photo/wslt/scene5.svg");
  background-size: cover;
  background-position: center;
}

.log-in-img {
  width: 50vw;
  height: 60vh;
  background-image: url("https://euroamerican.dk/photo/wslt/scene4.svg");
  background-size: cover;
  background-position: center;
}

.password-forgot-img {
  width: 50vw;
  height: 60vh;
  background-image: url("https://euroamerican.dk/photo/wslt/scene9.svg");
  background-size: cover;
  background-position: center;
}

.btn a {
  color: #fff;
  text-decoration: none;
}

.devise-links {
  display: flex;
  align-items: center;
}

.devise-links a {
  text-transform: none;
  overflow: visible;
  margin: 0 16px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 2.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
}