
.upload-photo {
  width: 100%;
  border: 1px solid #d3d3d3;
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
  position: relative;
  color: #E5E5E5;
  &.uploaded {
    color: #495057;
    font-size: 14px;
    font-weight: normal !important;
  }

  &::after {
    content: "Browse";
    width: 30%;
    top: 0%;
    line-height: 2.5rem;
    text-align: center; 
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    height: 100%;
    color: white;
    background-color: #E5E5E5;
    right: 0;
    position: absolute;
  }
}
#photo-preview {
  align-self: center;
  border-radius: 5px;
}

.form-group.file {
  width: 100%;
}

.form-control-file.file.optional.hidden {
  display: none;
}